/* global styles  */
* {
    box-sizing: border-box;
    /* border: 0.5px solid red; */
}
/* element styles */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.alien {
    background-image: url("assets/alienGIF.gif");
    background-size: 37px 37px;
    background-repeat: no-repeat;
    background-position: center;

}
.shooter {
    background-image: url("assets/spaceship2.gif");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;

}
.missile {
    background-image: url("assets/missile3.gif");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
}
/* layout */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.grid {
    width: 555px;
    height: 555px;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(15, 37px);
    grid-template-rows: repeat(15, 37px);
    background-size: 555px 555px;
    background-image: url("assets/starsbackgroundgif.gif");
}
.scores-container {
    width: 555px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    color: #ffd9e2;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px purple, 0 0 20px purple, 0 0 25px purple, 0 0 30px purple, 0 0 35px purple;
    font-size: 50px;
    margin-bottom: 8px;
    margin-top: 15px;
    animation: animate 3s infinite;
}

@keyframes animate{
40% {
    opacity: 1;
}
42% {
    opacity: 0.8;
}
43% {
    opacity: 1;
}
45% {
    opacity: 0.3;
}
46% {
    opacity: 1;
}
}

h2 {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px purple, 0 0 20px purple, 0 0 25px purple, 0 0 30px purple, 0 0 35px purple;
    margin: 6px;
}
p {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px purple, 0 0 20px purple, 0 0 25px purple, 0 0 30px purple, 0 0 35px purple;
    margin: 6px;
}
/* buttons */
button {
    padding: 8px;
    margin: 10px;
    border-radius: 15px;
    background-color:aliceblue;
}
button:hover {
    background-color: lightpink;
    color: white;
}
.btn-container {
    display: flex;
    justify-content: space-evenly;
}
button.difficulty:disabled {
    background-color: gray;
}
.restart {
    background-color: red;
    color: white;
}
/* images */

