/* global styles  */
* {
    box-sizing: border-box;
    border: 2px solid red;
}
/* element styles */
.grid {
    width: 555px;
    height: 555px;
    border: 3px solid white;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 57px;
    height: 57px;
}

/* layout */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: rgb(47, 210, 47);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* headings */

/* buttons */
.btn-container {
    display: flex;
    justify-content: flex-start;

}
/* images */